
{% extends 'base.html.twig' %}



{% block title %} {% endblock %}
{% block body %}


    <div class="jumbotron text-center">
        <h1> Agence Tour DSI22 Espace de gestion des villes </h1>
    </div>




    <div class="alert alert-success text-center">

    </div>


<table class="table table-striped">
<thead>
    <tr>
        <th> Code ville </th>
        <th> Nom de la ville </th>


        <th> Actions </th>
    </tr>
</thead>
    <tbody>
    {%for dest in dests %}


        <td>{{ dest.getCodeVille() }}</td>
        <td>{{ dest.getDesVille() }}</td>



        <td>
            <a href="{{ path('admin.ville.edit',{id: dest.id}) }}" class="btn btn-secondary">Editer</a>

            <form action="{{ path('admin.ville.delete',{id: dest.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous sur')" >
                <input type="hidden" name="_method" value="DELETE ">
                <button class="btn btn-danger">Supprimer </button>
            </form>
        </td>
    </tr>


    {% endfor %}


    <tr>
        <td> </td>
        <td> </td>
        <td>
            <div class="text-right">
                <a href=" {{ path('admin.ville.new') }}" class="btn btn-primary"> Ajouter une autre ville </a>
            </div>
        </td>
        <td> </td>
    </tr>

    </tbody>

</table>



    {% block content %}{% endblock %}
{% endblock %}